body{
    font: message-box;
    color: #000;
    background-color: #eee;
    cursor: default;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    text-shadow: 0 1px #fff;
    font-size: 14px;
    margin: 0;
    padding: 2em;
}

input[type="text"], input[type="password"] {
    width: 16em;
}

button {
    padding:0.5em;
    min-width: 6em;
}

h1, h2{
    margin: 0;
    padding: 0;
    text-align: center;
}
h1 img{
    vertical-align: middle;
}
h1 small{
    color: #666;
}
h2 {
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #666666;
    -webkit-transition-property: color;
    -webkit-transition-duration: .3s;
}

a:hover {
    color: #000;
}

fieldset{
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 2em 0 0;
    padding: 1em;
    -webkit-box-shadow: 1px 1px #fff, inset 0 -20px 60px -20px #ddd, inset 1px 1px #fff;
}
fieldset legend{
    font-weight: bold;
    background: #eee;
    padding: 0 5px;
    -webkit-box-shadow: 0 0 20px 10px #eee;
}

.options {
    font-size: 13px;
    width: 38em;
    margin: 20px auto 20px auto;
}

.option {
    clear: left;
    padding: 0.5em 1em 0px;
    min-height: 26px;
}
.instr {
    clear: left;
    padding: 1em;
}

.copy {
    clear: left;
    padding: 1em;
    text-align: center;
}

.name {
    float: left;
    /*font-weight: bold;*/
    margin-top: 3px;
    width: 16em;
}

.value {
    float: left;

}

.buttons {
    clear: left;
    padding: 2em 1em 0.7em;
}

#savedStatus {
    color: white;
    background-color: #42a368;
    border-radius: 3px 3px;
    font-weight: normal;
    margin-left: 10px;
    opacity: 0;
    padding: 0.5em 1em 0.5em 1em;
}
